Body{
    margin:0;
    padding: 0;
    height: 100vh;
}
p{
    margin: 0;
    line-height: 23px;
}
h2{
    margin: 0;
    margin-bottom: 30px;
    margin-top: 5px;
    font-size: 30px;
}
.Page1{
    margin: 0;
    font-family: "Exo 2", sans-serif;
    color: white;
    background-color: #000000;
    height: 100vh;
    background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
}
.header{
    padding: 30px;
    display: flex;
    gap: 450px;
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    align-items: center;
}
.icon{
    margin-left: 60px;
    height: 90px;
    width: 90px;
    border-radius: 50px;
}
.body{
    gap: 30px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
.info{
    color: white;
    font-size: x-large;
}
.P1{
    height: 450px;
    width: auto;
}
.bio{
    font-size: 16px;
    line-height: 30px;
    width: 700px;
}
.media-icons{
    padding: 30px;
    margin-left: 30px;
    height: 40px;
    width: auto;
}
.Page2{
    margin: 0;
    font-family: "Exo 2", sans-serif;
    color: white;
    background-color: #000000;
    height: 100vh;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/60-lines.png");
}
.project-header{
    padding: 20px;
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    justify-content: center;
}
.Project{
    gap: 100px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.flex-container{
    gap: 20px;
    padding: 10px;
    display: flex;
    width: 600px;
    flex-direction: column;
    flex-grow: 3;
}
.project-icon{
    height: 140px;
    width: auto;
}
.project-block{
    display: flex;
    align-items: flex-start;
}
.project-heading{
    margin: 0;
    padding-bottom: 5px;
    font-size: 23px;
}
.project-details{
    display: inline;
    padding: 5px;
}
.education{
    margin-left: 50px;
}
.skills{
    margin-top: 30px;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
}
.soft-skills{
    margin-right: 250px;
}
.technical-skills p{
    font-size: 20px;
    padding: 10px;
}
.soft-skills p{
    font-size: 20px;
    padding: 10px;
}
.skill{
    display: flex;
    align-items: center;
    gap: 40px;
}